
<div class="container text-center">


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong><br>
  <br>
  <%= @area.name %>
</p>
<br>
<%= link_to 'Edit', edit_area_path(@area), :class => 'btn btn-success' %> |
<%= link_to 'Back', areas_path, :class => 'btn btn-info' %>

</div>
